<div class="banner-full-screen">
  <div class="banner-center-container">
    <div>
      <h1>This is Couch Hero</h1>
      <p>An AI helper to easily find all the answers to your corona virus questions.</p>
      <p>Phone: +1 502-233-2881 | <%= link_to 'facebook', 'https://www.facebook.com/Couch-Hero-105166834480215/'%></p>
    </div>
  </div>
<iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/b461eed3-157b-49c6-bafc-b29fb4a852cf"></iframe>
</div>
