<div class="banner-full-screen">
  <div class="banner-center-container">
    <div>
      <h1>This is Couch Hero</h1>
      <p>An AI helper to easily find all the answers to your corona virus questions.</p>
    </div>
  </div>

</div>
